<!DOCTYPE html>
<html lang="zh">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59721977-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="shortcut icon" href="/so-long-my-past/assets/images/favicon.ico">
  <link rel="stylesheet" href="/so-long-my-past/assets/css/yue.css">
  <link rel="stylesheet" href="/so-long-my-past/assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/so-long-my-past/feed.xml">
  <link rel="stylesheet" href="/so-long-my-past/assets/css/highlight.css">
</head>

<body>
  <div class="yue">
    {% include navigation.html %}

    {% if page.profile %}
    {% include profile.html %}
    {% endif %}

    <section id="wrapper" class="{% if page.profile %}home{% endif %}">
      {{ content }}
    </section>

  </div>

  <script src="/so-long-my-past/assets/js/jquery.min.js"></script>
  <script src="/so-long-my-past/assets/js/main.js"></script>
  <script src="/so-long-my-past/assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>